img {
  height: 400px;
}

.main-row {
  display: flex;
  column-gap: 25px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.movie-details {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .title {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(my-primary);
  }
}